.mainLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

.mainTitle {
  font-size: 46px;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.navLink {
  width: 150px;
  height: 30px;
  background: rgb(248, 115, 115);
  border-radius: 3px;
  margin: 0 10px;
  text-align: center;
  line-height: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navLinkActive {
  background: rgb(184, 58, 58);
}
